@model List<SwiftBlog.Web.Models.Domain.BlogPost>
@{
	ViewData["Title"] = "Show All Blog Posts";
}

<div class="bg-secondary bg-opacity-10 py-2 mt-3">
    <div class="container">
        <h1>Show All Blog Posts - Admin Only</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Page Title</td>
                    <td>Tags</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach(var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.PageTitle</td>
                        <td>
                            @if (blogPost.Tags != null)
                            {
                                <div class="d-flex">
                                    @foreach (var tag in blogPost.Tags)
                                    {
                                        <span class="badge me-1" style="background-color: @tag.Color; color: black; border: 1px solid #e3e3e3">@tag.DisplayName</span>
                                    }
                                </div>
                            }
                            else
                            {
                                <p>No tags</p>
                            }
                        </td>
                        <td>
                            <a asp-area="" asp-controller="AdminBlogPosts" asp-action="Edit" asp-route-id="@blogPost.Id"><i style="margin-top: 4px; cursor: pointer" class="bx bxs-pencil sm"></i></a>
                        </td>
                        <td class="delete-icon">
                            <a data-bs-toggle="modal" data-bs-target="#@blogPost.UrlHandle" class="delete-icon"><i style="margin-top: 4px; color: orangered; cursor: pointer" class="bx bxs-trash sm"></i></a>

                            <div class="modal fade" id="@blogPost.UrlHandle" tabindex="-1" role="dialog" aria-labelledby="deleteBlogPostModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="deleteBlogPostModalLabel">Delete Blog Post</h2>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this post?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a type="submit" class="btn btn-danger" asp-area="" asp-controller="AdminBlogPosts" asp-action="Delete" asp-route-id="@blogPost.Id">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="p-2">No posts found! <a asp-area="" asp-controller="AdminBlogPosts" asp-action="Add">Add post</a></p>
    }
</div>