@model List<SwiftBlog.Web.Models.Domain.Tag>
@{
    ViewData["Title"] = "Show All Tags";
}

<div class="bg-secondary bg-opacity-10 py-2 mt-3">
    <div class="container">
        <h1>Show All Tags - Admin Only</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Color</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td>@tag.Id</td>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td style="background-color: @tag.Color">@tag.Color</td>
                        <td>
                            <a asp-area="" asp-controller="AdminTags" asp-action="Edit" asp-route-id="@tag.Id" data-toggle="tooltip" title="Edit Tag"><i style="margin-top: 4px; cursor: pointer" class="bx bxs-pencil bx-xs ms-3"></i></a>
                        </td>
                        <td class="delete-icon">
                            <a data-bs-toggle="modal" data-bs-target="#@tag.Name" class="delete-icon" data-toggle="tooltip" title="Delete Tag"><i style="margin-top: 4px; color: orangered; cursor: pointer" class="bx bxs-trash sm"></i></a>

                            <div class="modal fade" id="@tag.Name" tabindex="-1" role="dialog" aria-labelledby="deleteTagModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="deleteTagModalLabel">Delete Tag</h2>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this tag?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a type="submit" class="btn btn-danger" asp-area="" asp-controller="AdminTags" asp-action="Delete" asp-route-id="@tag.Id">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="p-2">No tags found! <a asp-area="" asp-controller="AdminTags" asp-action="Add">Add Tags</a></p>
    }
</div>