@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@model SwiftBlog.Web.Models.ViewModels.BlogDetailsViewModel
@{
	ViewData["Title"] = (Model != null) ? Model.PageTitle : "Post not found";
}


<div class="container my-5">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">

			@if (Model != null)
			{
				<h1 class="mb-3">@Model.Heading</h1>

				<div class="mb-3 d-flex justify-content-between ">
					<span class="text-secondary">@Model.Author</span>
					<span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
				</div>

				<div class="mb-3">
					@if (signInManager.IsSignedIn(User))
					{
						<button class="btn like-button d-flex align-items-center gap-2" style="cursor: pointer; width: 60px;" disabled>
							<i class="bx bxs-heart bx-xs"></i>
							<span class="like-num">@Model.TotalLikes</span>
						</button>

					}
				</div>

				<div class="mb-3 d-flex">
					@foreach (var tag in Model.Tags)
					{
						<span class="badge me-1" style="background-color: @tag.Color; color: black; border: 1px solid #e3e3e3">@tag.DisplayName</span>
					}
				</div>

				<img src="@Model.FeaturedImageUrl" class="d-block img-fluid mb-3 rounded-2" style="box-shadow: 0.3rem 0.3rem #808080, -0.3rem -0.3rem #ccc; width: 100%" />

				<div class="mb-3 blog-content">
					@Html.Raw(Model.Content)
				</div>
			}
			else
			{
				<p>Post not found... Did something go wrong?</p>
			}

		</div>
	</div>
</div>

@section Scripts {
	<script>
		async function disableButton() {
			$('.like-button').prop('disabled', true);
			$('.like-button').css('transition-property', 'all');
			$('.like-button').css('transition', '0.5s');
			$('.like-button').css('background-color', '#eee');
			$('.like-button').css('color', 'indianred');
		}

		async function enableButton() {
			$('.like-button').prop('disabled', false);
			$('.like-button').css('background-color', 'indianred');
			$('.like-button').css('color', '#eee');
		}

		async function getTotalLikes() {
			fetch('/api/BlogPostLike/@Model.Id/totalLikes', {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
					'Accept': '*/*'
				}
			}).then(data => data.json())
			.then(result => {
				$('.like-num').text(result);
			});
		}

		async function addLikeToBlog() {
			fetch('/api/BlogPostLike/Add', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'Accept': '*/*',
				},
				body: JSON.stringify({
					blogPostId: '@Model.Id',
					userId: '@userManager.GetUserId(User)'
				})
			}).then(() => {
				getTotalLikes();
				disableButton();
			});
		}

		$(document).ready(() => {
			$('.like-button').click(addLikeToBlog);
			'@Model.Liked' == 'True' ? disableButton() : enableButton();
			getTotalLikes();
		});
	</script>
}