@model SwiftBlog.Web.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5 border-bottom border-secondary">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                <i class="bx bx-wind bx-lg text-dark"></i>
                SwiftBlog - A Modern Blog for Modern Developers
            </h1>
            <p class="lead">
                SwiftBlog is home to coding blogs covering a vast range of subjects relating to modern Web Application Development,
				including but not limited to HTML, CSS, JavaScript, React, C#, ASP.NET, and Angular.
            </p>
        </div>


        <div class="col-12 col-lg-6">
            <img src="~/media/main page.jpg" alt="SwiftBlog" class="d-block mx-lg-auto img-fluid rounded" width="500" />
        </div>
    </div>
</div>

<div class="container mb-2 d-flex align-items-center justify-content-center">
    <h2 class="me-2">Tags</h2>
    <i class='bx bxs-down-arrow bx-sm'></i>
</div>

<div class="container mb-5">
    <div class="row justify-content-center py-5 border-bottom border-secondary">
        <div class="col-6">
            @if (Model != null && Model.Tags.Any())
            {
                @foreach (var tag in Model.Tags)
                {
                    <span class="badge me-1" style="background-color: @tag.Color; color: black; border: 1px solid #e3e3e3">@tag.DisplayName</span>
                }
            }
        </div>
    </div>
</div>

<div class="container mb-2 d-flex align-items-center justify-content-center" >
    <h2 class="me-2">Blogs</h2>
    <i class='bx bxs-down-arrow bx-sm'></i>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            @if (Model != null && Model.BlogPosts.Any())
            {
                foreach(var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 p-5 bg-light box-shadow">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="mb-4 d-block img-fluid rounded-2" style="box-shadow: 0.3rem 0.3rem #808080, -0.3rem -0.3rem #ccc; width: 100%">

                        <div class="d-flex mb-3">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge me-1" style="background-color: @tag.Color; color: black; border: 1px solid #e3e3e3">@tag.DisplayName</span>
                            }
                        </div>

                        <h2 class="mb-4">@blogPost.Heading</h2>
                        <p class="mb-2">
                            Author: @blogPost.Author
                            <br />
                            Date Published: @blogPost.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-4">
                            @blogPost.ShortDescription
                        </p>

                        <a class="btn btn-dark" asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@blogPost.UrlHandle">Read</a>
                    </div>
                }
            }

        </div>
    </div>
</div>